---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Binvenido a precios de viviendas">
    <Header Navigate={[{ navigate: "/docs/about", title: "Documentación" }]} />
    <div class="container">
        <header>
            <div class="header-content">
                <div class="header-left">
                    <h1>HomePrice</h1>
                    <p class="subtitle">
                        Predicción de precios de viviendas con IA
                    </p>
                    <a class="cta-button" href="/panel">PROBAR</a>
                </div>
                <div class="header-right"></div>
            </div>
            <link
                href="https://fonts.googleapis.com/icon?family=Material+Icons"
                rel="stylesheet"
            />
        </header>
        <main>
            <p class="description">
                HomePrice es una aplicación web diseñada para predecir los
                precios de las viviendas utilizando técnicas avanzadas de
                aprendizaje automático. Implementa un modelo de regresión que
                analiza diversas características de las propiedades para estimar
                su valor de mercado, contribuyendo así al desarrollo sostenible
                urbano y la transparencia en el mercado inmobiliario.
            </p>
        </main>
    </div>
</Layout>
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(90deg, #242424, #585555);
        color: #ffffff;
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }

    .container {
        max-width: 1200px;
        margin: 100px;
        padding: 2rem;
    }

    header {
        margin-bottom: 2rem;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-left h1 {
        font-size: 3rem;
        font-weight: 300;
        margin: 0 0 0.5rem 0;
    }

    .subtitle {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .cta-button {
        background-color: #ff5722;
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .cta-button:hover {
        background-color: #ff7043;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .stat {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .stat-value {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .stat-description {
        font-size: 0.875rem;
        opacity: 0.7;
    }
    a {
        text-decoration: none;
    }
    main {
        border-top: 1px solid #fffefe;
        padding-top: 2rem;
    }

    .description {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        font-size: 1.1rem;
        font-size: medium;
    }

    /* Estilos responsivos */
    @media (max-width: 768px) {
        .header-content {
            flex-direction: column;
            align-items: center;
        }

        .header-left,
        .header-right {
            width: 100%;
            text-align: center;
        }

        .header-right {
            margin-top: 2rem;
        }

        .stat {
            justify-content: center;
        }
    }
</style>
