---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Form from "@components/Form.astro"

interface NavItem {
    navigate: string;
    title: string;
}



const navItems: NavItem[] = [
    { navigate: "/", title: "Inicio" },
    { navigate: "/docs/about", title: "Documentación" },
];


---

<Layout title="Panel">
    <div class="grid">
        <Header Navigate={navItems} />
        <aside class="page-leftbar">
            <div class="content">
                <div class="history-chat">
                    <p
                        class="message"
                        title="consult nknfklnmdkfmdlkfmdfdlmldfmdl,ñdf"
                    >
                        consult nknfklnmdkfmdlkfmdfdlmldfmdl,ñdf
                    </p>
                </div>
            </div>
        </aside>
        <main class="page-main">
            <div class="content">
                <Form/>
            </div>
        </main>
        <Footer />
    </div>
</Layout>
<style is:global>
    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    .grid {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 40px 1fr 30px;
        grid-template-areas:
            "header header"
            "leftbar main"
            "leftbar footer";
        min-height: 100vh;
        column-gap: 3px;
        row-gap: 2px;
    }

    .page-header {
        grid-area: header;
    }

    .page-leftbar {
        grid-area: leftbar;
        overflow-y: auto;
    }

    .page-main {
        grid-area: main;
        overflow: auto;
    }

    .page-footer {
        grid-area: footer;
    }

    .content {
        color: #242424;
        background: #242424;
        font-weight: 600;
        text-align: center;
        box-sizing: border-box;
        height: 100%;
        padding: 10px;
    }

    /* Media Queries */
    @media (max-width: 600px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "header"
                "main"
                "leftbar"
                "footer";
        }
    }

    @media (min-width: 601px) and (max-width: 992px) {
        .grid {
            grid-template-columns: 150px auto;
            grid-template-areas:
                "header header"
                "leftbar main"
                "footer footer";
        }
    }

    @media (min-width: 993px) {
        .grid {
            grid-template-columns: 200px auto;
        }
    }

    aside {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .history-chat {
        display: flex;
        text-wrap: nowrap;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: white;
        background-color: rgb(78, 76, 76);
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .history-chat:hover {
        opacity: 80%;
    }
    .message {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    .page-main > .content {
        display: flex;
        place-content: center;
        padding: 100px;
    }

    
</style>
